* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

img {
  width: 100%;
}

header {
  background-image: url(/assets/img/slider-bg-1.png.webp);
  min-height: 100vh;
}

header .conntainer {
  max-width: 1200px;
  min-height: 100vh;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .conntainer .left h1 {
  font-size: 55px;
}

header .conntainer .left p {
  margin: 15px 0;
  font-size: 28px;
}

header .conntainer .left .btn {
  margin-top: 70px;
  border-radius: 8px;
  border: 4px solid #3695ee;
  width: 120px;
  min-height: 50px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-size: 16px;
  background: #032400;
  background: -webkit-gradient(linear, left top, right top, from(#032400), color-stop(55%, #097969), to(#00d4ff));
  background: linear-gradient(90deg, #032400 0%, #097969 55%, #00d4ff 100%);
  -webkit-transition: 1s;
  transition: 1s;
}

header .conntainer .left .btn:hover {
  background: #00d4ff;
  background: -webkit-gradient(linear, left top, right top, from(#00d4ff), color-stop(55%, #097969), to(#032400));
  background: linear-gradient(90deg, #00d4ff 0%, #097969 55%, #032400 100%);
}

header .conntainer .left .btn a {
  color: white;
}

header .conntainer .raight img {
  max-width: 500px;
}

nav {
  background: rgba(167, 134, 134, 0.5);
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  top: 0%;
  left: 0%;
  min-height: 72px;
}

nav .container {
  margin: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 90px;
}

nav .container ul a {
  color: white;
}

nav .container .hamburger {
  display: none;
}

@media only screen and (max-width: 992px) {
  nav {
    background: rgba(167, 134, 134, 0.5);
    position: fixed;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    top: 0%;
    left: 0%;
  }
  nav .container {
    margin: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav .container ul {
    display: none;
    gap: 900px;
    color: white;
  }
  nav .container .hamburger {
    display: block;
  }
  nav .container .hamburger img {
    max-width: 40px;
    max-height: 40px;
  }
}

#DISCOVER_THE_FEATURES {
  width: 100%;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #e7e5e5;
}

#DISCOVER_THE_FEATURES .container {
  margin: auto;
  max-width: 1200px;
}

#DISCOVER_THE_FEATURES .container .row_up {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

#DISCOVER_THE_FEATURES .container .row_up p {
  font-size: 14px;
  color: gray;
}

#DISCOVER_THE_FEATURES .container .row_up h2 {
  font-size: 50px;
}

#DISCOVER_THE_FEATURES .container .row_up img {
  width: 70px;
}

#DISCOVER_THE_FEATURES .container .row_down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

#DISCOVER_THE_FEATURES .container .row_down .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#DISCOVER_THE_FEATURES .container .row_down .box img {
  width: 40px;
  min-height: 50px;
}

#DISCOVER_THE_FEATURES .container .row_down .box h3 {
  padding: 20px;
}

#DISCOVER_THE_FEATURES .container .row_down .box .btn {
  border-radius: 12px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 100px;
  min-height: 50px;
  margin: 80px 0;
  background: #032400;
  background: -webkit-gradient(linear, left top, right top, from(#032400), color-stop(55%, #097969), to(#00d4ff));
  background: linear-gradient(90deg, #032400 0%, #097969 55%, #00d4ff 100%);
  background-size: 200% auto;
  -webkit-transition: 1s;
  transition: 1s;
}

#DISCOVER_THE_FEATURES .container .row_down .box .btn:hover {
  background-position-x: 60%;
}

#DISCOVER_THE_FEATURES .container .row_down .box .btn a {
  color: white;
}
/*# sourceMappingURL=main.css.map */